

{% extends "CDPBookingBundle::layout.html.twig" %}

{% block body %}

<h3>Formulaire de réservation</h3>

<div>
  {{ form_start(form,{'action': path('cdp_booking_save'), 'method': 'POST'} , {'attr': {'class': 'form-horizontal'}})   }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

    <div>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
          {{ message }}
        </div>
      {% endfor %}
    </div>


{{ form_widget(form.date, { 'attr' : { 'style':'display:none'} }) }}
{{ form_widget(form.number, { 'attr' : { 'style':'display:none'} }) }}
{{ form_widget(form.email, { 'attr' : { 'style':'display:none'} }) }}
{{ form_widget(form.halfday, { 'attr' : { 'style':'display:none'} }) }}


  {{ form_row(form.visitors) }}


  {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
 
  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var $container = $('div#ticket_visitors_visitors');
    var nb = 0;
    {% if ticket.number is defined %}
    	 var nb = {{ticket.number}};
	{% endif %}
	
    var index = 0;
    while(index < nb) {
     	 addVisitor($container);	
      }
      e.preventDefault();
      return false;
    function addVisitor($container) {
      	var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, '<h3>Visiteur ' + (index+1)+'</h3>')
        .replace(/__name__/g, index).replace(/class="required"/g, 'class="required champs_label"')
        .replace("ticket_visitors_visitors_"+index+"_birthdate","champs_input" );
      	
      	var $prototype = $(template);
      	$container.append($prototype);
      	$prototype.wrap('<div class="container_visitor well"></div>');
      	index++;
    }
  });
</script>

{% endblock %}