

{% extends "CDPBookingBundle::layout.html.twig" %}

{% block body %}

<h3>Récapitulatif</h3>
    <div>
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="well">


        <table class="table table-bordered table-striped table-condensed">
            <tbody>
            <caption>
                <h3>Votre commande</h3>
            </caption>
            <tr>
                <td class="col_label"><h2>Prix du billet</h2></td>
                <td class="col_champ"><h2>{{ ticket.prixTotal}} eurs</h2></td>
            </tr>
            <tr>
                <td class="col_label">Ticket ID : </td>
                <td class="col_champ">{{ ticket.ticketId }}</td>
            </tr>
            <tr>
                <td class="col_label">Date de réservation</td>
                <td class="col_champ">{{ ticket.date|date("d-m-Y") }}</td>
            </tr>
            <tr>
                <td class="col_label">Email</td>
                <td class="col_champ">{{ ticket.email }}</td>
            </tr>
            <tr>
                <td class="col_label">Nombre de visiteurs</td>
                <td class="col_champ">{{ ticket.number }}</td>
            </tr>
            <tr>
                <td class="col_label">Type de billets</td>
                <td class="col_champ">
                    {% if ticket.halfday %}
                        Demi-journ&eacute;e
                    {% else %}
                        Journ&eacute;e
                    {% endif %}
                </td>
            </tr>
            {% set index = 1 %}
            {% for visitor in ticket.visitors %}
                <tr>
                    <td colspan=2 class="col_space_resume"></td>
                </tr>
                <tr>
                    <td class="col_label"><b>Visiteur</b></td>
                    <td class="col_champ"><b>{{index}}</b></td>
                </tr>
                <tr>
                    <td class="col_label">Nom</td>
                    <td class="col_champ">{{ visitor.firstname}}</td>
                </tr>
                <tr>
                    <td class="col_label">Prenom</td>
                    <td class="col_champ">{{ visitor.lastname}}</td>
                </tr>
                <tr>
                    <td class="col_label">Date de naissance</td>
                    <td class="col_champ">{{ visitor.birthdate|date("d-m-Y")}}</td>
                </tr>
                <tr>
                    <td class="col_label">Tarif-réduit</td>
                    <td class="col_champ">
                        {% if visitor.halfprice %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                {% set index = index+1 %}
            {% endfor %}
            </tbody>
        </table>
        {% set prix = ticket.prixTotal * 100 %}
    </div>


    <div id="status">


        <form action="{{ path('cdp_booking_save') }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_0BHLlO0kypTdeYuLgb4eRVpj"
                    data-amount="{{ prix}}"
                    data-label="Payer"
                    data-name="Stripe"
                    data-description=""
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-email="{{ ticket.email}}"
                    data-zip-code="false"
                    data-currency="eur">
            </script>
        </form>
    </div>

{% endblock %}